# Python
venv/
__pycache__/
*.pyc

# Environment variables
.env

# VS Code
.vscode/

# Node.js
node_modules/

# Uploaded resumes
uploads/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db


# Database
career_twin.db


